body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 233, 220);
  font-family: sans-serif;
}
.team-container {
  width: 100%;
  height: auto;
}
.text {
  color: #097e8dfa;
  font-size: 25px;
  margin-top: 40px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.row {
  margin-bottom: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .row {
    width: 100%;
  }
}
.profile-card {
  background-color: #dbe0e2;
  width: 185px;
  height: 218px;
  margin: 20px 10px 10px 10px;
  border-radius: 40px;
}
@media (max-width: 468px) {
  .profile-card {
    width: 185px;
    height: 218px;
  }
}
.profile-content {
  padding: 15px;
}
.imageCat {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.profile-image {
  text-align: center;
}
.desc {
  text-align: center;
}
.desc h2 {
  color: #244f7e;
  font-size: 20px;
  margin-top: 20px;
}
.desc h2:hover {
  color: #37a9da;

}
